{% extends "paslaugos/base.html" %}

{% block content %}
  <h1>Automobiliu modeliai :</h1>
  {% for a in automobilio_modeliai %}
    <li><a href="{% url 'automobiliu_duomenys' a.id %}">{{a.marke}} - {{a.modelis}}</a> </li>
    {% endfor %}
<div class="container puslapiai">
    <nav aria-label="...">
        {% if automobilio_modeliai.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-end">
                {% for i in automobilio_modeliai.paginator.page_range %}
                    {% if automobilio_modeliai.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}