{% extends "paslaugos/base.html" %}

{% block content %}
{% load static %}
    <h1>Klientai :</h1></br>
    {% if automobilio_modeliai %}
    <div class="row">
      {% for auto in automobilio_modeliai %}
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card mb-4 shadow-sm">
            {% if auto.automobiliomodelis.automobilis.virselis %}
              <img src="{{ auto.virselis.url }}" class="card-img-top" alt="...">
            {% else %}
              <img src="{% static 'paslaugos/images/not.jpg' %}" class="card-img-top">
            {% endif %}
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">{{ auto.modelis }}</h6>
              <p class="card-text"><a href="{{ book.id }}">{{ auto.marke }}</a></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% else %}
      <p>Automobiliu nėra.</p>
    {% endif %}
  <h1>Automobiliu modeliai :</h1>
  {% for a in automobilio_modeliai %}
    <li><a href="{% url 'automobiliu_duomenys' a.id %}">{{a.marke}} - {{a.modelis}}</a> </li>
    {% endfor %}
<br>
<div class="container puslapiai">
    <nav aria-label="...">
        {% if automobilio_modeliai.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-end">
                {% for i in automobilio_modeliai.paginator.page_range %}
                    {% if automobilio_modeliai.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>

{% endblock %}