{% extends "paslaugos/base.html" %}
{% block content %}
<p>Čia jūs lankotes {{ num_visits }}-ą kartą.</p>
  <h3>Autoservisas</h3>
  <p><b>Meniu:</b></p>
  <ul>
    <li><strong>Paslaugos :</strong>
      {% for i in num_paslauga %}
      {{ i.pavadinimas }},</li>
    {% endfor %}
    <li><strong>Klientų kiekis:</strong> {{ num_uzsakymas }}</li>
    <li><strong>Modelių kiekis:</strong> {{ num_modelis }}</li>
    <li><strong>Automobilių kiekis:</strong> {{ num_automobilis }}</li>
    <li><strong>Užsakymų kiekis:</strong> {{ num_eilute }}</li>
  </ul>


{% endblock %}