{% extends "paslaugos/base.html" %}
{% block content %}
  <h3>{{ uzsakymas.id }} | {{ uzsakymas.data }}</h3>

  <div style="margin-top:50px">
  <p><strong>Automobilis:</strong> {{ uzsakymas.automobilis }}</p>
  <p><strong>Užsakymo suma:</strong> {{ uzsakymas.suma }}</p>
  <p><strong>Užsakymo statusas:</strong> {{ uzsakymas.get_status_display }}</p>
    <hr/>
  </hr>
  </div>
  <div style="margin-left:20px;margin-top:20px">
    </br>
  <h4>Atsiliepimai:</h4>
  {% if uzsakymas.uzsakymasreview_set.all %}
    {% for uzs in uzsakymas.uzsakymasreview_set.all %}
      <hr>
      <strong>{{ uzs.reviewer }}</strong>, <em>{{ uzs.date_created}}</em>
      <p>{{ uzs.content }}</p>
    {% endfor %}
  {% else %}
    <p>Automobilis neturi atsiliepimų</p>
      {% endif %}
      {% if user.is_authenticated %}
  <div class="fieldWrapper">
    <hr><br/>
    <h4>Palikite atsiliepimą:</h4>

    <form action="" method="post">
      {% csrf_token %}
    {{ form }}
    <input type="submit" />
    <button class='js-captcha-refresh'>Atnaujinti  Captcha</button>
</form>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>
       <script type="text/javascript">
      $('#id_content').emojioneArea({pickerPosition: 'bottom'
  });
</script>
  </div>
  {% endif %}

  </div>
{% endblock %}
