{% extends "paslaugos/base.html" %}
{% block content %}
  <h3>{{ uzsakymas.id }} | {{ uzsakymas.data }}</h3>

  <div style="margin-top:50px">
  <p><strong>Automobilis:</strong> {{ uzsakymas.automobilis }}</p>
  <p><strong>Užsakymo suma:</strong> {{ uzsakymas.suma }}</p>
  <p><strong>Užsakymo statusas:</strong> {{ uzsakymas.get_status_display }}</p>
    <hr/>
  </hr>
  </div>
  <div style="margin-left:20px;margin-top:20px">
    </br>
  <h4>Atsiliepimai:</h4>
  {% if uzsakymas.uzsakymasreview_set.all %}
    {% for uzs in uzsakymas.uzsakymasreview_set.all %}
      <hr>
      <strong>{{ uzs.reviewer }}</strong>, <em>{{ uzs.date_created}}</em>
      <p>{{ uzs.content }}</p>
    {% endfor %}
  {% else %}
    <p>Automobilis neturi atsiliepimų</p>
      {% endif %}
      {% if user.is_authenticated %}
  <div class="fieldWrapper">
    <hr><br/>
    <h4>Palikite atsiliepimą:</h4>

    <form action="" method="post">
      {% csrf_token %}
    {{ form }}
    <input type="submit" />
    <button class='js-captcha-refresh'></button>
</form>

  </div>
  {% endif %}

  </div>
{% endblock %}
