{% extends "paslaugos/base.html" %}

{% block content %}

<ul>
    {% if uzsakymas_list %}
    <h1>Mano remontuojami "{{ uzsakymas_list.0.vartotojas }}" automobiliai: </h1>
      {% for u in uzsakymas_list %}
      <li class="{% if u.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'automobiliu_duomenys' u.automobilis_id %}">{{u.automobilio_modelis.modelis}}</a> ({{ u.atsiemimo_data }})
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>Šiuo metu nera automobiliu.</p>
    {% endif %}       
{% endblock %}